*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Comic Sans MS", cursive;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    min-height: 100vh;
    background: url("dotted_background.jpg") center / cover no-repeat;
    background-attachment: fixed;
}

.navbar{
    color: black;
    display: flex;
    gap: 15px;
    padding: 10px;
    padding-right: 40px;
    margin: 5px;
    flex-direction: row-reverse;
}
.github img{
    height: 25px;
}
.todo-logo img{
    height: 70px;
    width: 250px;

}
.todo-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 8px;

}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.text-content input{
    border-right: none;
}


#task{
    box-shadow: 7px 5px 2px black;
    transition: 0.5s ease-in-out;
    height: 60px;
    width: 550px;
    border-radius: 7px 0px 0px 7px;
    background-color: rgb(237, 233, 233);
    font-size: large;
    
}
.Add-btn{
    border: 2px solid black;
    
    box-shadow: 5px 5px 2px black;
    transition: 0.5s ease-in-out;
    height: 60px;
    width: 95px;
    border-radius: 0px 7px 7px 0px;
    background-color: rgb(246, 193, 202);
    font-size: larger;
}
.container-main{
    max-width: 100%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    gap: 40px;
    margin-left: 193px;
    
}
.to-do-list-container{
    background: rgb(250, 245, 236);
    width: 645px;
    min-height: 400px;
    height: auto;
    box-shadow: 5px 5px 2px black;
    transition: 0.5s ease-in-out;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.to-do-list-container ul{
    align-items: center ;
}
h2{
    margin: 2px;
    padding-left: 80px;

}
.container-nav{
    border-bottom: 2px solid black;
    height: 40px;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mark-all-btn{
    border: none;
    border-bottom: 2px solid black;
   
}
.container-nav input{
    background-color: rgb(103, 253, 203);
    height: 40px;
    width: 200px;
    border-radius: 7px 0px 0px 0px;
}

.navtext{
    border-left: 2px solid black;
    padding: 9px;
    
}
.sidebar{
    display: flex;
    border-radius: 7px;
    justify-content: flex-end;
    align-items: center;

}
li{
    display: flex;
    justify-content: center;
    align-items:center ;
}
li input{
    border: none
}
.sidebar-ul{
    border: 2px solid black;
    border-radius: 7px;
    box-shadow:5px 5px 2px black;
    transition: 0.5s ease-in-out;
}
.sidebar-ul li{
    list-style: none;
    border-bottom: 2px solid black;
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(250, 245, 236);
    padding: 10px;
    width: 150px;
}
#sidebar-header{
    background-color: rgb(248, 221, 181);
    
}
#clear ,.clear-all{
    border-radius: 0px ;
    background-color: rgb(246, 193, 202);
    font-size: large;
}
#finish-all{
    font-size: medium;
}
#Trash{
    font-size:larger;
}
.todo-content{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
      
}

#todo-item{
    border: 2px solid black;
    border-radius: 7px;
    height: 45px;
    width: 550px;
    margin: 3px;
    padding: 10px;
    display: flex;
    text-align: start;
    justify-content: space-around;
}
.todo-task{
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    overflow-wrap: break-word;
    position: relative;
    display: block;

}
.complete,.delete{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    /* box-shadow: -4px 5px 2px black ; */
    transition: 0.5s ease-in-out;
    
}

.footer{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    height: 40px;
    position: relative;
    margin-top: auto;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    text-align: start;
    justify-content: center;
    padding-top: 4px;
    background-color:beige;

}
/* .tick, .cross{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2.5px;
} */
.complete, .delete{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2.5px;
}